div.highlight { 
    background-color: #f2f2f2;
    padding-left: 0.4em; 
    padding-right: 6px;
}

td.linenos { 
    background-color: #ccc; 
    padding: 0 6px;
}

td.code { 
}

table.highlighttable { 
    background-color: #f2f2f2;
    margin-left: 2em;
}
